<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>score</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guideline.css') }}">
</head>
<body>
<div>
    <h1><br>배워봅시다 <br></h1>
    <h2>: I have a fox<br></h2>
    <div class="video-container">
        <video autoplay loop muted preload="auto">
            <source src="{{ url_for('static', filename='video/comp1_1.mp4') }} " type="video/mp4">
        </video>
    </div>
    <div class="buttons">
        <button><a href="lecture1">학습하러 가기</a></button>
        <button><a href="home">홈으로 가기</a></button>
    </div>
</div>
</body>
</html>
