<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Cam Record</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecture.css') }}">
  </head>
  <body>
    <div>
      <div class="left">
        <div class="wrapper">
          <div class="button-container">
            <button class="record-button">녹화</button>
            <button class="stop-button">중지</button>
            <button class="play-button">녹화보기</button>
	        <a class="predict-button"> → </a>
            <a href="predict1_view">결과 보기</a>
          </div>
          <div class="video-container">
            <div class="video-item">
              <h2>녹화중</h2>
              <video autoplay muted id="preview"></video>
            </div>
            <div class="video-item">
              <h2>미리보기</h2> 
              <video id="recording"></video> 
            </div> 
          </div> 
        </div> 
        <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
      </div>

      <div class="right">
        <img src="{{ url_for('static', filename='img/number1.png') }}" class="img_1"/>
        <div class="lecture">
          <h1 class="bar">____</h1>       
          <h1 class="title">lecture 1: I have a fox</h1>
          <p class="sentence"><br>녹화 버튼을 누르면 화면 녹화가 시작 됩니다.<br>
          문장 말하기를 완료하시면 중지 버튼을 눌러주세요.<br>
            ※3초안에 문장 말하기를 완료해야 더욱 정확한 평가를 받을 수 있습니다.※<br>
          점수 산출을 위해 결과 보기 버튼을 눌러주세요.</p>
        </div>
      </div>
    </div>
  </body> 
</html>
