<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>바름스픽</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    <header>
      <div class="">
        <a href="/"><img src="{{ url_for('static', filename='img/main.jpg') }}" class="img_logo"/></a>
      </div>
      <nav>
        <div class="nav_items">
          <ul>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="">
        영상
      </div>

    </main>
    <footer>
    </footer>
  </body>
</html>
