<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>score</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/score_view.css') }}">
  </head>
  <body>
    <div>
      <div class="left">
        <img src="{{ url_for('static', filename='img/quotation.png') }}" class="img_q"/>
        <div class="myscore">
          <h1 class="score1"><br>나의 바름 스코어는?</h1>
          <h1 class="score2"><br> {{ value }} 점</h1>

          <h3 class="score3"><br> 음소 정확도 : {{ accuracy }} </h3>
          <h3 class="score5"><br> 문장 완성도 : {{ completeness }} </h3>
          <h3 class="score6"><br> 능숙도 : {{ fluency }} </h3>
          <h3 class="score4"><br> 음성 총점 : {{ pronunciation }} </h3>

          <h1><br></h1>
          <div class="buttons">
            <button><a href="lecture3">재학습하기</a></button>
            <button><a href="home">홈으로 가기</a></button>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="video-container">
          <div class="video-item">
            <h2>원본</h2>
            <video autoplay loop muted preload="auto">
              <source src="{{ url_for('static', filename='video/lecture3_lip.mp4') }} " type="video/mp4">
            </video>
          </div>
          <div class="video-item">
            <h2>본인</h2>
            <video autoplay loop muted preload="auto">
              <source src="{{ url_for('static', filename='video/output_new.mp4') }} " type="video/mp4">
            </video>
          </div> 
        </div> 
      </div> 
    </div>
  </body> 
</html>
